<!-- wp:template-part {"slug":"header","theme":"wpwheels","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"className":"site-content","layout":{"type":"constrained"}} -->
<main
  class="wp-block-group site-content"
  style="
    margin-top: 0;
    padding-top: var(--wp--preset--spacing--large);
    padding-bottom: var(--wp--preset--spacing--large);
  "
>
  <!-- wp:pattern {"slug":"wpwheels/404-basic"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wpwheels","tagName":"footer","className":"site-footer"} /-->
