<!-- wp:template-part {"slug":"header","theme":"wpwheels","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"40px","bottom":"40px"}}},"className":"site-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:40px;padding-bottom:40px"><!-- wp:query {"queryId":0,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"perPage":10},"align":"wide","className":"wp-block-group","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide wp-block-group"><!-- wp:query-title {"type":"search","textAlign":"left"} /--></div>
	<!-- /wp:query -->
	<!-- wp:pattern {"slug":"wpwheels/query"} /-->
</main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"wpwheels","tagName":"footer","className":"site-footer"} /-->